<footer class="bg-dark py-4">
    <div class="container-xl text-light d-flex flex-column gap-5">
        <div class="d-flex flex-row justify-content-between">
                <i class="bi bi-facebook footer-icon"></i>
                <i class="bi bi-instagram footer-icon"></i>
                <i class="bi bi-twitter footer-icon"></i>
                <i class="bi bi-whatsapp footer-icon"></i>
        </div>
        <nav class="d-flex flex-row justify-content-between">
            <div class="align-self-center">
                <img src="./assets/logo.png" width="70px" alt="">
                <span>FightHub</span>
            </div>
            <ul>
                <li><h3>Information and support</h3></li>
                <li><a href="#">About us</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Cookies</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
            <ul>
                <li><h3>Contact</h3></li>
                <li><a href="#">Email</a></li>
                <li><a href="">Social media</a></li>
                <li><a href="">Location</a></li>
            </ul>
        </nav>
        <div class="text-center">
            <p class="text-center"><a class="text-decoration-none text-light"><i class="bi bi-github fs-6"></i> GitHub</a></p>
            <span>FightHub</span>
            <span>&copy;Guillermo Rodríguez 2024</span>
        </div>
    </div>
</footer>